.button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-text-light);
  padding: 16px 62px;
  border-radius: 35px;
  font-size: 20px;
  line-height: 1;
}