.button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-text-light);
  padding: 16px 62px;
  border-radius: 35px;
  font-size: 20px;
  line-height: 1;
  transition: linear 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var(--color-background-light);
    color: var(--color-primary);
  }
}

.card-blue .button {
  background-color: var(--color-background-light);
  color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    border: 1px solid var(--color-text-light);
  }
}
