.button {
    background-color: var(--color-primery);
    border: 1px solid var(--color-primery);
    color: var(--color-text-light);
    padding: 16px 62px;
    border-radius: 35px;
    font-size: 20px;
    line-height: 1;
  }