.card {
  border: 1px solid var(--color-background-light);
  border-radius: 10px;
  font-size: 16px;

  .card__title,
  .card__price,
  .card__price-currency {
    font-weight: 900;
  }

  .card__title {
    font-size: 20px;
    margin-bottom: 3px;
  }
  .card__price {
    display: flex;
    justify-content: center;
    align-items: center;

    .card__price-number {
      font-size: 74px;
    }

    .card__price-description {
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    .card__price-currency {
      font-size: 20px;
    }

    .card__price-period {
      font-weight: 400;
    }
  }

  .card__features {
    margin: 30px 0;

    .card__feature {
      margin-bottom: 20px;
    }
  }
}

.card-white {
  padding: 40px;
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
}

.card-blue {
  padding: 83px 40px;
  background-color: var(--color-primary);
  color: var(--color-text-light);
}
