@import 'global.css';

.fastest-way {
  .fastest-way__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;

    @media (min-width: 1200px) {
      justify-content: space-between;
    }
  }

  .fastest-way__content {
    @media (min-width: 1200px) {
      text-align: left;
    }
  }

  .fastest-way__image-item {
    width: 360px;

    @media (min-width: 768px) {
      width: 625px;
    }
  }
}
