@import 'global.css';

.features {
  .features__wrapper {
    max-width: 869px;
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
    margin: 0 auto 80px;

    .feature {
      width: 255px;
      padding: 0 20px;

      .feature__title {
        margin: 20px 0;
        font-size: 20px;
        font-weight: 700;
        color: var(--color-text-dark);
      }

      .feature__text {
        font-size: 18px;
      }
    }
  }

  .features__video-poster {
    width: 100%;
  }
}
