.footer {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  font-size: 15px;

  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 150px 390px;

    .footer__pages,
    footer__staffs,
    footer__users {
      width: 170px;
    }
  }
}
