@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  --color-primary: #2091f9;
  --color-secondary: #2dc071;
  --color-text-dark: #252b42;
  --color-text-medium: #374754;
  --color-text-light: #ffffff;
  --color-background-dark: #252b42;
  --color-background-light: #ffffff;
  --color-backgrond-gradient: #222b32;
  --color-background-input: #f4f4f4;
  --color-border: #d8d8d8;
  --font-primary: 'Roboto';
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  font-size: 28px;
  line-height: 1.5;
  background-color: var(--color-background-light);
  color: var(--color-text-medium);
  margin: 0 auto;
}

section {
  margin-bottom: 90px;

  @media (min-width: 768px) {
    margin-bottom: 160px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-text-dark);
  margin-bottom: 16px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 7px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text-light);
}

input::placeholder,
textarea::placeholder {
  font-family: var(--font-primary);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 0 10px;
}

.content-hidden {
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-bottom: 80px;
  }
}

.content-visually {
  margin-bottom: 60px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}
