*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primery: #2091F9;
  --color-secondary: #2DC071;
  --color-text-dark: #252B42;
  --color-text-medium:#374754;
  --color-text-light: #ffffff;
  --color-background-dark: #252B42;
  --color-background-light: #ffffff;
  --color-backgrond-gradient: #222B32;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 1.5;
  background-color: var(--color-background-light);
  margin: 0 auto;
}

h2 {
  font-size: 48px;
  color: var(--color-text-dark);
}

a {
  text-decoration: none;
  color: var(--color-text-light);
}



