.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 10px;
  font-size: 15px;

  @media (min-width: 786px) {
    padding-top: 40px;
    width: 90%;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__nav {
      width: 55%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header__nav-list {
        display: none;

        @media (min-width: 786px) {
          display: flex;
          justify-content: space-around;
        }

        .header__nav-list-item {
          padding: 10px;
          margin-right: 8px;
          transition: linear 0.3s;

          &:hover {
            border: 1px solid var(--color-text-light);
            scale: 1.2;
          }

          @media (min-width: 980px) {
            margin-right: 21px;
          }
        }
      }
    }

    .burger-menu {
      display: block;

      @media (min-width: 786px) {
        display: none;
      }
    }
  }
}
