.intro {
  min-width: 100%;
  background-image: url(../img/intro.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 290px 0;
  text-align: center;
  margin-bottom: 160px;
}

.intro__container {
  width: 70%;
  max-width: 786px;
  margin: 0 auto;

  @media(min-width: 1200px) {
    width: 60%;
}
}

.intro__container-inner {
  color: var(--color-text-light);
  margin-bottom: 90px;
}

.intro__title {
  font-size: 4rem;
  margin-bottom: 36px;
  font-weight: 400;

  @media(min-width: 768px) {
    font-weight: 700;
  }
  @media(min-width: 1000px) {
    font-size: 4.93rem;
  }
}

.intro__content {
  font-size: 1.87rem;
}