.socials {
  display: flex;
  gap: 16px;
  align-items: center;

  @media (min-width: 1200px) {
    gap: 24px;
  }
}

.header-socials {
  display: none;
  @media (min-width: 786px) {
    display: flex;
  }
}

.contacts-socials {
  order: 1;
  margin-bottom: 50px;
  justify-content: center;

  @media (min-width: 860px) {
    order: 3;
  }
}
