.socials {
    display: none;

    @media(min-width: 786px) {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    @media(min-width: 1200px) {
        gap: 24px;
    }

    .social-item {
        width: 40.99px;
        height: 40.99px;
    }
}