.icon {
  cursor: pointer;
}

.icon-burger-menu {
  width: 40px;
  height: 32px;
}

.icon-clear,
.icon-header,
.icon-contacts,
.icon-footer {
  width: 41px;
  height: 41px;
}

.icon-header,
.icon-footer {
  fill: var(--color-background-light);
  transition: linear 0.3s;

  &:hover {
    fill: var(--color-primary);
  }
}

.icon-contacts,
.feature-icon,
.icon-map-point,
.icon-phone,
.icon-mail {
  fill: var(--color-primary);
  transition: linear 0.3s;
}

.feature-icon {
  width: 61px;
  height: 61px;
}

.icon-map-point {
  width: 26px;
  height: 32px;
}
.icon-phone {
  width: 21px;
  height: 34px;
}
.icon-mail {
  width: 27px;
  height: 22px;
}

.icon-contacts:hover {
  fill: var(--color-background-dark);
}

.icon-burger-menu,
.icon-clear,
.footer-map-point,
.footer-phone {
  fill: var(--color-background-light);
}
